/* Common Styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-family: "Baloo Da 2", cursive;
}

html{
  font-size: 62.5%;
}

/* End of Common Styles */

/* Section 1 */
.section{
  width: 100%;
  height: 100wh;
}
/* End of Section 1 */